<<<<<<< HEAD

body { display: flex;
        justify-content: center;
        align-items: center;
      background-color: #06b557;
      min-height: 90vh;
      font-size:20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}     
main { 
      text-align: center;
      background-color: antiquewhite;
      width: 60%;
      height: 40%;
      border: 5px solid salmon ;
      display: flex;
      flex-direction: column;
}
img { height: 40%;
      width: 40%;
       border-radius: 0.2em;
       margin: 2em auto 0  ;
}
button {
      background-color: orange; 
      width: 10em;
      margin: 1em auto;
      padding: 0.2em;
}
ul { list-style: none;
      padding: 0px;
      gap: 10px;
}
li {
   margin: 0.2em;     
}
@media (min-width: 800px) {
      body {
            justify-content: left;
      }
      main { transform: translate(40px);
            text-align: center;
            background-color: antiquewhite;
            width: 60%;
            height: 40%;
            border: 5px solid salmon ;
            display: flex;
            flex-direction: row;
            
            
      }
      img { height: 40%;
            width: 40%;
             border-radius: 0.2em;
               flex:1;
               margin: 0px;
      }
      button {
            background-color: orange; 
            max-width: 20em;
            width: 80%;
            margin: 1em auto;
            padding: 0.2em;
          
      }
      ul { list-style: none;
            padding: 0px;
            gap: 10px;
            display: inline-block;
      }
      li {
         margin: 0.2em;     
      }
}
=======
 input, button {
    height:2rem;
 }
body, #main-nav , .div-nav {
    display: flex; }
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
 #main-nav, button, input{
    border-radius: 0.2em; 
 }
 #main-nav {  
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-end;
    flex: 1;
    background-color: gray;
    max-width: 550px; 
    gap: 10px;
}
.div-nav { 
    flex-wrap: wrap;
    flex: 1;
    flex-direction:column;
} 
button { 
    flex: 1 3 70px;
    text-align: center;
     
}
>>>>>>> 3a4d7cc (it is not really important but an achievement!)
